.about__container {
  display: flex;
  grid-template-columns: 35% 50%;
  gap: 15%;
  padding-top: 4rem;
}

.about-me__subtitle {
  font-size: 1.1rem;
  font-weight: 100;
  letter-spacing: 1px;
  padding-top: 4rem;
}

.about-me__title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.about__me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(45deg, #7352f833, #6b46ffd7, #7352f833);
  display: grid;
  place-items: center;
}

.about__me-image {
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}
.about__me-image:hover {
  transform: rotate(0deg);
}

.about__me-image img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  background: #a690fc;
  padding-top: 14px;
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.about__card {
  background: linear-gradient(45deg, #7352f885, #6b46ff88, #7352f8a6);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
}

.about__card:hover {
  background: transparent;
  border-color: #a690fc;
}

.about__icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about__card h5 {
  font-size: 0.9rem;
}

.about__card small {
  font-size: 0.7rem;
  color: var(--color-light);
}

.about__content p {
  margin: 2rem 0 2.6rem;
  color: var(--color-light);
}
